.page {
    max-width: 100%;
    /* background: #FFFFFF; */
    background: #000000;
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
  
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
  }
/* 
  header, div, p, img, button, h1 {
    border: 1px solid red;
  } */
