.header {
    display: flex;
    max-width: 880px;
    height: 74px;
    margin: 45px auto 0 ;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 750px) {
  .header {
    max-width: 320px;
    margin: 28px 0 42px;
    padding-left: 27px;
    height: 54px;
  }
}
