.profile__edit_button {
    display: flex;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-image: url(../../../../image/edit_icon.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    border: none;
    border: 1px solid #FFFFFF;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 750px) {
    .profile__edit_button {
        width: 18px;
        height: 18px;
    }
  }

  .profile__edit_button:hover {
    opacity: 0.6;
  }