.element__group-button_active {
    width: 24px;
    height: 19px;
    cursor: pointer;
    border: none;
    background: transparent;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('../../../../images/Favorite-active.svg');
}