.popup__input_name {
    width: 358px;
    height: 14px;
    padding-bottom: 13px;
    margin: 0;
    margin-top: 54px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;

    
    border-bottom: 1px solid #000000;
}
/* opacity: 0.2; */