.profile__profession {
  width: 336px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;

  color: #FFFFFF;
  background-color: #000000;
}

@media (max-width: 950px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 159px;
  }

}